# Format: //devtools/kokoro/config/proto/build.proto

build_file: "github/data-manager-java/.kokoro/release.sh"

# Execute a dry run by default
env_vars: {
  key: "DRY_RUN"
  value: "true"
}

container_properties {
  docker_image: "us-central1-docker.pkg.dev/kokoro-container-bakery/kokoro/ubuntu/ubuntu2204/full:current"
}

